<a href="https://colab.research.google.com/github/babarrizvi/python/blob/master/Introduction_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Pandas" data-toc-modified-id="Pandas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Pandas</a></span><ul class="toc-item"><li><span><a href="#Object-Creation" data-toc-modified-id="Object-Creation-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Object Creation</a></span><ul class="toc-item"><li><span><a href="#We-can-also-specify-the-column-name-while-creating-a-dataframe" data-toc-modified-id="We-can-also-specify-the-column-name-while-creating-a-dataframe-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>We can also specify the column name while creating a dataframe</a></span></li></ul></li><li><span><a href="#Exploring-Data" data-toc-modified-id="Exploring-Data-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Exploring Data</a></span><ul class="toc-item"><li><span><a href="#Head" data-toc-modified-id="Head-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Head</a></span></li><li><span><a href="#Tail" data-toc-modified-id="Tail-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Tail</a></span></li><li><span><a href="#Index" data-toc-modified-id="Index-1.2.3"><span class="toc-item-num">1.2.3&nbsp;&nbsp;</span>Index</a></span><ul class="toc-item"><li><span><a href="#Column-Names" data-toc-modified-id="Column-Names-1.2.3.1"><span class="toc-item-num">1.2.3.1&nbsp;&nbsp;</span>Column Names</a></span></li><li><span><a href="#Dataframe-values" data-toc-modified-id="Dataframe-values-1.2.3.2"><span class="toc-item-num">1.2.3.2&nbsp;&nbsp;</span>Dataframe values</a></span></li></ul></li><li><span><a href="#Describe" data-toc-modified-id="Describe-1.2.4"><span class="toc-item-num">1.2.4&nbsp;&nbsp;</span>Describe</a></span></li><li><span><a href="#Transposing-your-data" data-toc-modified-id="Transposing-your-data-1.2.5"><span class="toc-item-num">1.2.5&nbsp;&nbsp;</span>Transposing your data</a></span></li></ul></li><li><span><a href="#Sorting" data-toc-modified-id="Sorting-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Sorting</a></span><ul class="toc-item"><li><span><a href="#On-an-axis" data-toc-modified-id="On-an-axis-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>On an axis</a></span></li><li><span><a href="#Based-on-a-column" data-toc-modified-id="Based-on-a-column-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Based on a column</a></span></li></ul></li><li><span><a href="#Selection-(-also-called-indexing)" data-toc-modified-id="Selection-(-also-called-indexing)-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Selection ( also called indexing)</a></span><ul class="toc-item"><li><span><a href="#Selection-by-Position" data-toc-modified-id="Selection-by-Position-1.4.1"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Selection by Position</a></span></li><li><span><a href="#Selection-by-Label" data-toc-modified-id="Selection-by-Label-1.4.2"><span class="toc-item-num">1.4.2&nbsp;&nbsp;</span>Selection by Label</a></span></li></ul></li></ul></li><li><span><a href="#Operations-on-dataset" data-toc-modified-id="Operations-on-dataset-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Operations on dataset</a></span><ul class="toc-item"><li><span><a href="#Load-data" data-toc-modified-id="Load-data-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Load data</a></span><ul class="toc-item"><li><span><a href="#german-credit-data-1" data-toc-modified-id="german-credit-data-1-2.1.1"><span class="toc-item-num">2.1.1&nbsp;&nbsp;</span>german credit data 1</a></span></li></ul></li><li><span><a href="#Exploration" data-toc-modified-id="Exploration-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Exploration</a></span><ul class="toc-item"><li><span><a href="#Print-the-column-names" data-toc-modified-id="Print-the-column-names-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>Print the column names</a></span></li><li><span><a href="#Print-the-data-types" data-toc-modified-id="Print-the-data-types-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Print the data types</a></span></li><li><span><a href="#Print-the-first-few-columns" data-toc-modified-id="Print-the-first-few-columns-2.2.3"><span class="toc-item-num">2.2.3&nbsp;&nbsp;</span>Print the first few columns</a></span></li><li><span><a href="#Check-the-shape" data-toc-modified-id="Check-the-shape-2.2.4"><span class="toc-item-num">2.2.4&nbsp;&nbsp;</span>Check the shape</a></span></li><li><span><a href="#Load-german-credit-data-2" data-toc-modified-id="Load-german-credit-data-2-2.2.5"><span class="toc-item-num">2.2.5&nbsp;&nbsp;</span>Load german credit data 2</a></span></li><li><span><a href="#Merge-the-two-datasets" data-toc-modified-id="Merge-the-two-datasets-2.2.6"><span class="toc-item-num">2.2.6&nbsp;&nbsp;</span>Merge the two datasets</a></span></li><li><span><a href="#Numeric-attributes" data-toc-modified-id="Numeric-attributes-2.2.7"><span class="toc-item-num">2.2.7&nbsp;&nbsp;</span>Numeric attributes</a></span></li><li><span><a href="#Categorical-Attributes" data-toc-modified-id="Categorical-Attributes-2.2.8"><span class="toc-item-num">2.2.8&nbsp;&nbsp;</span>Categorical Attributes</a></span></li><li><span><a href="#Function-to-convert-categorical-attributes-to-factors" data-toc-modified-id="Function-to-convert-categorical-attributes-to-factors-2.2.9"><span class="toc-item-num">2.2.9&nbsp;&nbsp;</span>Function to convert categorical attributes to factors</a></span></li><li><span><a href="#Pandas-DataFrame-Methods" data-toc-modified-id="Pandas-DataFrame-Methods-2.2.10"><span class="toc-item-num">2.2.10&nbsp;&nbsp;</span>Pandas DataFrame Methods</a></span><ul class="toc-item"><li><span><a href="#Max" data-toc-modified-id="Max-2.2.10.1"><span class="toc-item-num">2.2.10.1&nbsp;&nbsp;</span>Max</a></span></li><li><span><a href="#Min" data-toc-modified-id="Min-2.2.10.2"><span class="toc-item-num">2.2.10.2&nbsp;&nbsp;</span>Min</a></span></li><li><span><a href="#Mean" data-toc-modified-id="Mean-2.2.10.3"><span class="toc-item-num">2.2.10.3&nbsp;&nbsp;</span>Mean</a></span></li><li><span><a href="#Median" data-toc-modified-id="Median-2.2.10.4"><span class="toc-item-num">2.2.10.4&nbsp;&nbsp;</span>Median</a></span></li></ul></li><li><span><a href="#Checking-Number-of-unique-values/levels" data-toc-modified-id="Checking-Number-of-unique-values/levels-2.2.11"><span class="toc-item-num">2.2.11&nbsp;&nbsp;</span>Checking Number of unique values/levels</a></span></li><li><span><a href="#Handling-outliers" data-toc-modified-id="Handling-outliers-2.2.12"><span class="toc-item-num">2.2.12&nbsp;&nbsp;</span>Handling outliers</a></span><ul class="toc-item"><li><span><a href="#Threshold-method" data-toc-modified-id="Threshold-method-2.2.12.1"><span class="toc-item-num">2.2.12.1&nbsp;&nbsp;</span>Threshold method</a></span></li><li><span><a href="#IQR-method" data-toc-modified-id="IQR-method-2.2.12.2"><span class="toc-item-num">2.2.12.2&nbsp;&nbsp;</span>IQR method</a></span></li></ul></li><li><span><a href="#Handling-Missing-values" data-toc-modified-id="Handling-Missing-values-2.2.13"><span class="toc-item-num">2.2.13&nbsp;&nbsp;</span>Handling Missing values</a></span><ul class="toc-item"><li><span><a href="#Dropping-the-records-with-missing-values" data-toc-modified-id="Dropping-the-records-with-missing-values-2.2.13.1"><span class="toc-item-num">2.2.13.1&nbsp;&nbsp;</span>Dropping the records with missing values</a></span></li><li><span><a href="#Imputing-Numeric-Columns" data-toc-modified-id="Imputing-Numeric-Columns-2.2.13.2"><span class="toc-item-num">2.2.13.2&nbsp;&nbsp;</span>Imputing Numeric Columns</a></span></li><li><span><a href="#Imputing-Categorical-columns-with-mode" data-toc-modified-id="Imputing-Categorical-columns-with-mode-2.2.13.3"><span class="toc-item-num">2.2.13.3&nbsp;&nbsp;</span>Imputing Categorical columns with mode</a></span></li></ul></li><li><span><a href="#Binning" data-toc-modified-id="Binning-2.2.14"><span class="toc-item-num">2.2.14&nbsp;&nbsp;</span>Binning</a></span><ul class="toc-item"><li><span><a href="#digitize-method" data-toc-modified-id="digitize-method-2.2.14.1"><span class="toc-item-num">2.2.14.1&nbsp;&nbsp;</span><code>digitize</code> method</a></span></li><li><span><a href="#qcut-method" data-toc-modified-id="qcut-method-2.2.14.2"><span class="toc-item-num">2.2.14.2&nbsp;&nbsp;</span><code>qcut</code> method</a></span></li></ul></li><li><span><a href="#Additional-Pre-processing-methods" data-toc-modified-id="Additional-Pre-processing-methods-2.2.15"><span class="toc-item-num">2.2.15&nbsp;&nbsp;</span>Additional Pre-processing methods</a></span><ul class="toc-item"><li><span><a href="#Dummies" data-toc-modified-id="Dummies-2.2.15.1"><span class="toc-item-num">2.2.15.1&nbsp;&nbsp;</span>Dummies</a></span></li><li><span><a href="#Normalization" data-toc-modified-id="Normalization-2.2.15.2"><span class="toc-item-num">2.2.15.2&nbsp;&nbsp;</span>Normalization</a></span></li><li><span><a href="#Standardizing" data-toc-modified-id="Standardizing-2.2.15.3"><span class="toc-item-num">2.2.15.3&nbsp;&nbsp;</span>Standardizing</a></span></li></ul></li></ul></li><li><span><a href="#Apply-functions" data-toc-modified-id="Apply-functions-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Apply functions</a></span></li><li><span><a href="#Assignment-Questions" data-toc-modified-id="Assignment-Questions-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Assignment Questions</a></span></li></ul></li></ul></div>

# Pandas

In [0]:
import numpy as np
import pandas as pd

The data structure in Pandas we use are
    - 1. Series      -> 1 Dimensional
    - 2. DataFrame   -> 2 Dimensional
    
Both the datastructures are mutable, meaning we can change the values in the data structure once we define them.

## Object Creation
Creating a `Series` by passing a list of values, letting pandas create a default integer index:

In [0]:
s = pd.Series([1,3,5,np.nan,6,8]) #similar to NA in R
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

### We can also specify the column name while creating a dataframe

In [0]:
data = np.random.randn(20,2)

In [0]:
df = pd.DataFrame(data, index=range(20),columns=['A','B'])
df

           A         B
0  -2.525442  0.906248
1   1.860360 -1.510692
2  -0.688643  0.766366
3   1.124912  0.277079
4  -0.591255  0.244776
5   0.992732  0.195306
6   0.324344 -1.349643
7  -0.610558  1.015862
8  -1.607010 -0.159795
9   0.386031 -1.330817
10  1.319724 -0.009041
11  1.561737  1.100469
12 -0.952580  0.723878
13 -0.950794 -0.860914
14  1.200663  0.129433
15  0.211651  0.774464
16  1.281050  0.182438
17  0.098971  0.001837
18  1.434865 -0.203898
19  0.200838  0.679685

In [0]:
df.dtypes

A    float64
B    float64
dtype: object

## Exploring Data

### Head

In python by default the first 5 rows are printed , unlike first 6 in R

In [0]:
df.head()

          A         B
0 -2.525442  0.906248
1  1.860360 -1.510692
2 -0.688643  0.766366
3  1.124912  0.277079
4 -0.591255  0.244776

### Tail

In [0]:
df.tail()

           A         B
15  0.211651  0.774464
16  1.281050  0.182438
17  0.098971  0.001837
18  1.434865 -0.203898
19  0.200838  0.679685

In [0]:
df.iloc[0:5,0:5]

          A         B
0 -2.525442  0.906248
1  1.860360 -1.510692
2 -0.688643  0.766366
3  1.124912  0.277079
4 -0.591255  0.244776

- In python by default the last 5 rows are printed , unlike first 6 in R

In [0]:
df.tail()

           A         B
15  0.211651  0.774464
16  1.281050  0.182438
17  0.098971  0.001837
18  1.434865 -0.203898
19  0.200838  0.679685

In [0]:
df.iloc[-5:,-5:]

           A         B
15  0.211651  0.774464
16  1.281050  0.182438
17  0.098971  0.001837
18  1.434865 -0.203898
19  0.200838  0.679685

### Index

In [0]:
df.index

RangeIndex(start=0, stop=20, step=1)

####  Column Names

In [0]:
df.columns

Index(['A', 'B'], dtype='object')

#### Dataframe values

In [0]:
df.values

array([[-2.52544164e+00,  9.06248294e-01],
       [ 1.86036001e+00, -1.51069173e+00],
       [-6.88643460e-01,  7.66365758e-01],
       [ 1.12491169e+00,  2.77079438e-01],
       [-5.91254621e-01,  2.44776288e-01],
       [ 9.92732273e-01,  1.95305853e-01],
       [ 3.24344243e-01, -1.34964327e+00],
       [-6.10557859e-01,  1.01586229e+00],
       [-1.60701020e+00, -1.59794988e-01],
       [ 3.86031066e-01, -1.33081742e+00],
       [ 1.31972407e+00, -9.04064791e-03],
       [ 1.56173664e+00,  1.10046902e+00],
       [-9.52580400e-01,  7.23877604e-01],
       [-9.50793561e-01, -8.60914328e-01],
       [ 1.20066269e+00,  1.29433201e-01],
       [ 2.11651189e-01,  7.74463883e-01],
       [ 1.28104986e+00,  1.82438010e-01],
       [ 9.89706561e-02,  1.83697312e-03],
       [ 1.43486501e+00, -2.03898475e-01],
       [ 2.00837792e-01,  6.79684828e-01]])

### Describe 
shows summary statistics of your data

In [0]:
df.describe() # similar to summary() in R

               A          B
count  20.000000  20.000000
mean    0.203580   0.078652
std     1.181495   0.795437
min    -2.525442  -1.510692
25%    -0.630079  -0.170821
50%     0.267998   0.188872
75%     1.220759   0.734500
max     1.860360   1.100469

### Transposing your data

In [0]:
df.T

         0         1         2   ...        17        18        19
A -2.525442  1.860360 -0.688643  ...  0.098971  1.434865  0.200838
B  0.906248 -1.510692  0.766366  ...  0.001837 -0.203898  0.679685

[2 rows x 20 columns]

## Sorting

### On an axis

In [0]:
df.sort_index(ascending=False) # based on rows , default tries to sort the index

           A         B
19  0.200838  0.679685
18  1.434865 -0.203898
17  0.098971  0.001837
16  1.281050  0.182438
15  0.211651  0.774464
14  1.200663  0.129433
13 -0.950794 -0.860914
12 -0.952580  0.723878
11  1.561737  1.100469
10  1.319724 -0.009041
9   0.386031 -1.330817
8  -1.607010 -0.159795
7  -0.610558  1.015862
6   0.324344 -1.349643
5   0.992732  0.195306
4  -0.591255  0.244776
3   1.124912  0.277079
2  -0.688643  0.766366
1   1.860360 -1.510692
0  -2.525442  0.906248

### Based on a column
If we want to sort out dataframe based on a single column

In [0]:
df.sort_index(axis=0, ascending=False,by='A')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

           A         B
1   1.860360 -1.510692
11  1.561737  1.100469
18  1.434865 -0.203898
10  1.319724 -0.009041
16  1.281050  0.182438
14  1.200663  0.129433
3   1.124912  0.277079
5   0.992732  0.195306
9   0.386031 -1.330817
6   0.324344 -1.349643
15  0.211651  0.774464
19  0.200838  0.679685
17  0.098971  0.001837
4  -0.591255  0.244776
7  -0.610558  1.015862
2  -0.688643  0.766366
13 -0.950794 -0.860914
12 -0.952580  0.723878
8  -1.607010 -0.159795
0  -2.525442  0.906248

In [0]:
df.sort_index(axis=1, ascending=False) # Sort based on columns, again,by default sorts the col names

           B         A
0   0.906248 -2.525442
1  -1.510692  1.860360
2   0.766366 -0.688643
3   0.277079  1.124912
4   0.244776 -0.591255
5   0.195306  0.992732
6  -1.349643  0.324344
7   1.015862 -0.610558
8  -0.159795 -1.607010
9  -1.330817  0.386031
10 -0.009041  1.319724
11  1.100469  1.561737
12  0.723878 -0.952580
13 -0.860914 -0.950794
14  0.129433  1.200663
15  0.774464  0.211651
16  0.182438  1.281050
17  0.001837  0.098971
18 -0.203898  1.434865
19  0.679685  0.200838

## Selection ( also called indexing)

### Selection by Position

.iloc is primarily integer position based (from 0 to length of the axis -1 ), but may also be used with a boolean array.

.iloc will raise IndexError if a requested indexer is out-of-bounds, except slice indexers which allow out-of-bounds indexing.

In [0]:
df.iloc[3:5,0:2]

          A         B
3  1.124912  0.277079
4 -0.591255  0.244776

### Selection by Label

- .loc is primarily label based, but may also be used with a boolean array. .loc will raise KeyError when the items are not found.

- label slicing, both endpoints are included

In [0]:
df.loc[range(3),['A','B']]

          A         B
0 -2.525442  0.906248
1  1.860360 -1.510692
2 -0.688643  0.766366

# Operations on dataset

## Load data

### german credit data 1

In [0]:
import pandas as pd

In [0]:
german_credit_1 = pd.read_csv("/content/drive/My Drive/Datasets/Python/German-Credit_1.csv")

## Exploration

### Print the column names

In [0]:
german_credit_1.columns

Index(['OBS', 'DURATION', 'NEW_CAR', 'USED_CAR', 'FURNITURE', 'RADIO_TV',
       'EDUCATION', 'RETRAINING', 'AMOUNT', 'INSTALL_RATE', 'CO_APPLICANT',
       'GUARANTOR', 'REAL_ESTATE', 'PROP_UNKN_NONE', 'AGE', 'OTHER_INSTALL',
       'RENT', 'OWN_RES', 'NUM_CREDITS', 'NUM_DEPENDENTS', 'TELEPHONE',
       'FOREIGN', 'RESPONSE'],
      dtype='object')

### Print the data types

In [0]:
german_credit_1.dtypes

OBS                 int64
DURATION          float64
NEW_CAR           float64
USED_CAR          float64
FURNITURE         float64
RADIO_TV          float64
EDUCATION         float64
RETRAINING        float64
AMOUNT            float64
INSTALL_RATE      float64
CO_APPLICANT      float64
GUARANTOR         float64
REAL_ESTATE       float64
PROP_UNKN_NONE    float64
AGE               float64
OTHER_INSTALL     float64
RENT              float64
OWN_RES           float64
NUM_CREDITS       float64
NUM_DEPENDENTS    float64
TELEPHONE         float64
FOREIGN           float64
RESPONSE          float64
dtype: object

### Print the first few columns

In [0]:
german_credit_1.head()

   OBS  DURATION  NEW_CAR  ...  TELEPHONE  FOREIGN  RESPONSE
0    1       6.0      0.0  ...        1.0      0.0       1.0
1    2      48.0      0.0  ...        0.0      0.0       0.0
2    3      12.0      0.0  ...        0.0      0.0       1.0
3    4      42.0      0.0  ...        0.0      0.0       1.0
4    5      24.0      1.0  ...        0.0      0.0       0.0

[5 rows x 23 columns]

### Check the shape

In [0]:
german_credit_1.shape

(1000, 23)

### Load german credit data 2

In [0]:
german_credit_2 = pd.read_csv("/content/drive/My Drive/Datasets/Python/German-Credit_2.csv")

In [0]:
german_credit_2.shape

(1000, 7)

In [0]:
german_credit_2.head()

   OBS  CHK_ACCT  HISTORY  SAV_ACCT  EMPLOYMENT  PRESENT_RESIDENT  JOB
0    1         0        4         4           4                 4    2
1    2         1        2         0           2                 2    2
2    3         3        4         0           3                 3    1
3    4         0        2         0           3                 4    2
4    5         0        3         0           2                 4    2

### Merge the two datasets

In [0]:
df3 = german_credit_1.merge(german_credit_2,on=['OBS'])

In [0]:
df3.shape

(1000, 29)

###  Numeric attributes

In [0]:
num_attr = ["DURATION","AMOUNT","INSTALL_RATE","AGE","NUM_CREDITS","NUM_DEPENDENTS"]

In [0]:
num_attr

['DURATION', 'AMOUNT', 'INSTALL_RATE', 'AGE', 'NUM_CREDITS', 'NUM_DEPENDENTS']

### Categorical Attributes

In [0]:
cat_attr = [i for i in df3.columns.values if i not in num_attr]

###  Function to convert categorical attributes to factors

In [0]:
def convert_to_categorical(dataset,col_names_to_convert):
    """This function converts the given list of columns to categorical columns.
    Attributes : 
        dataset: variable name with the dataset
        col_names_to_convert: list of column names that are to be converted to categorical format
    Returns:
        dataset with the converted columns.
    """
    for i in col_names_to_convert:
        try:
            dataset[i] = dataset[i].astype(str)
        except:
            print(f"Failed to convert the column {i}")
    return(dataset)

In [0]:
df3 = convert_to_categorical(df3,col_names_to_convert=cat_attr)

In [0]:
df3.dtypes

OBS                  object
DURATION            float64
NEW_CAR              object
USED_CAR             object
FURNITURE            object
RADIO_TV             object
EDUCATION            object
RETRAINING           object
AMOUNT              float64
INSTALL_RATE        float64
CO_APPLICANT         object
GUARANTOR            object
REAL_ESTATE          object
PROP_UNKN_NONE       object
AGE                 float64
OTHER_INSTALL        object
RENT                 object
OWN_RES              object
NUM_CREDITS         float64
NUM_DEPENDENTS      float64
TELEPHONE            object
FOREIGN              object
RESPONSE             object
CHK_ACCT             object
HISTORY              object
SAV_ACCT             object
EMPLOYMENT           object
PRESENT_RESIDENT     object
JOB                  object
dtype: object

In [0]:
df3.describe()

         DURATION        AMOUNT  ...  NUM_CREDITS  NUM_DEPENDENTS
count  998.000000    990.000000  ...   994.000000      993.000000
mean    20.917836   3273.168687  ...     1.406439        1.156093
std     12.064656   2826.183525  ...     0.576302        0.363126
min      4.000000    250.000000  ...     1.000000        1.000000
25%     12.000000   1371.250000  ...     1.000000        1.000000
50%     18.000000   2321.500000  ...     1.000000        1.000000
75%     24.000000   3970.500000  ...     2.000000        1.000000
max     72.000000  18424.000000  ...     4.000000        2.000000

[8 rows x 6 columns]

In [0]:
df3.describe(include=[np.object]).transpose() # to include the categorical columns?

                 count unique  top freq
OBS               1000   1000  723    1
NEW_CAR           1000      3  0.0  765
USED_CAR          1000      3  0.0  896
FURNITURE         1000      3  0.0  819
RADIO_TV          1000      3  0.0  718
EDUCATION         1000      3  0.0  946
RETRAINING        1000      3  0.0  899
CO_APPLICANT      1000      3  0.0  951
GUARANTOR         1000      3  0.0  941
REAL_ESTATE       1000      3  0.0  713
PROP_UNKN_NONE    1000      3  0.0  839
OTHER_INSTALL     1000      3  0.0  806
RENT              1000      3  0.0  815
OWN_RES           1000      3  1.0  709
TELEPHONE         1000      3  0.0  594
FOREIGN           1000      3  0.0  957
RESPONSE          1000      3  1.0  698
CHK_ACCT          1000      4    3  394
HISTORY           1000      5    2  530
SAV_ACCT          1000      5    0  603
EMPLOYMENT        1000      5    2  339
PRESENT_RESIDENT  1000      4    4  413
JOB               1000      4    2  630

### Pandas DataFrame Methods
Some methods in pandas dataframes we generally use

- pandas.DataFrame.max — finds the highest value in each column.
- pandas.DataFrame.min — finds the lowest value in each column.
- pandas.DataFrame.median — finds the median of each column.
- pandas.DataFrame.std — finds the standard deviation of each column.

#### Max

In [0]:
df3.AGE.max()

75.0

#### Min

In [0]:
df3.AGE.min()

19.0

#### Mean

In [0]:
df3.AGE.mean()

35.505050505050505

#### Median

In [0]:
df3.AGE.median()

33.0

In [0]:
df3.AGE.std()

11.342693614402492

### Checking Number of unique values/levels

In [0]:
for i in df3.columns:
    n = np.unique(df3[i])
    print([i,len(n)])

['OBS', 1000]
['DURATION', 35]
['NEW_CAR', 3]
['USED_CAR', 3]
['FURNITURE', 3]
['RADIO_TV', 3]
['EDUCATION', 3]
['RETRAINING', 3]
['AMOUNT', 922]
['INSTALL_RATE', 11]
['CO_APPLICANT', 3]
['GUARANTOR', 3]
['REAL_ESTATE', 3]
['PROP_UNKN_NONE', 3]
['AGE', 63]
['OTHER_INSTALL', 3]
['RENT', 3]
['OWN_RES', 3]
['NUM_CREDITS', 10]
['NUM_DEPENDENTS', 9]
['TELEPHONE', 3]
['FOREIGN', 3]
['RESPONSE', 3]
['CHK_ACCT', 4]
['HISTORY', 5]
['SAV_ACCT', 5]
['EMPLOYMENT', 5]
['PRESENT_RESIDENT', 4]
['JOB', 4]

In [0]:
temp = df3.copy()

In [0]:
#Subsetting data: 
# dropping 1st and 2nd column
temp.drop(['OBS','DURATION'],inplace=True,axis=1)

In [0]:
temp.columns

Index(['NEW_CAR', 'USED_CAR', 'FURNITURE', 'RADIO_TV', 'EDUCATION',
       'RETRAINING', 'AMOUNT', 'INSTALL_RATE', 'CO_APPLICANT', 'GUARANTOR',
       'REAL_ESTATE', 'PROP_UNKN_NONE', 'AGE', 'OTHER_INSTALL', 'RENT',
       'OWN_RES', 'NUM_CREDITS', 'NUM_DEPENDENTS', 'TELEPHONE', 'FOREIGN',
       'RESPONSE', 'CHK_ACCT', 'HISTORY', 'SAV_ACCT', 'EMPLOYMENT',
       'PRESENT_RESIDENT', 'JOB'],
      dtype='object')

In [0]:
df3.columns

Index(['OBS', 'DURATION', 'NEW_CAR', 'USED_CAR', 'FURNITURE', 'RADIO_TV',
       'EDUCATION', 'RETRAINING', 'AMOUNT', 'INSTALL_RATE', 'CO_APPLICANT',
       'GUARANTOR', 'REAL_ESTATE', 'PROP_UNKN_NONE', 'AGE', 'OTHER_INSTALL',
       'RENT', 'OWN_RES', 'NUM_CREDITS', 'NUM_DEPENDENTS', 'TELEPHONE',
       'FOREIGN', 'RESPONSE', 'CHK_ACCT', 'HISTORY', 'SAV_ACCT', 'EMPLOYMENT',
       'PRESENT_RESIDENT', 'JOB'],
      dtype='object')

In [0]:
# selecting 1st and 2nd row
df3.iloc[0:2,:]

  OBS  DURATION NEW_CAR USED_CAR  ... SAV_ACCT EMPLOYMENT PRESENT_RESIDENT JOB
0   1       6.0     0.0      0.0  ...        4          4                4   2
1   2      48.0     0.0      0.0  ...        0          2                2   2

[2 rows x 29 columns]

### Handling outliers

#### Threshold method

In [0]:
import numpy as np
def outliers_z_score(ys,threshold = 3):
    """ This function takes a numeric column and returns the outliers.
    Default threshold is 3, but takes any integer or float value"""
    mean_y = np.mean(ys)
    stdev_y = np.std(ys)
    z_scores = [(y - mean_y) / stdev_y for y in ys]
    return np.where(np.abs(z_scores) > threshold)

In [0]:
df3.loc[:,num_attr].apply(outliers_z_score)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: RuntimeWarning: invalid value encountered in greater

DURATION          ([29, 134, 255, 332, 373, 374, 616, 637, 672, ...
AMOUNT            ([18, 63, 87, 95, 105, 236, 272, 274, 373, 374...
INSTALL_RATE                                                  ([],)
AGE                          ([163, 186, 330, 430, 536, 606, 756],)
NUM_CREDITS                        ([65, 197, 590, 653, 807, 890],)
NUM_DEPENDENTS                                                ([],)
dtype: object

#### IQR method

In [0]:
import numpy as np
def outliers_iqr(ys):
    quartile_1, quartile_3 = np.percentile(ys, [25, 75])
    iqr = quartile_3 - quartile_1
    lower_bound = quartile_1 - (iqr * 1.5)
    upper_bound = quartile_3 + (iqr * 1.5)
    return np.where((ys > upper_bound) | (ys < lower_bound))

In [0]:
df3.loc[:,num_attr].apply(outliers_iqr)

/usr/local/lib/python3.6/dist-packages/numpy/lib/function_base.py:3826: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

DURATION          ([],)
AMOUNT            ([],)
INSTALL_RATE      ([],)
AGE               ([],)
NUM_CREDITS       ([],)
NUM_DEPENDENTS    ([],)
dtype: object

### Handling Missing values

In [0]:
#To check null values in data

In [0]:
df3.isnull()

       OBS  DURATION  NEW_CAR  ...  EMPLOYMENT  PRESENT_RESIDENT    JOB
0    False     False    False  ...       False             False  False
1    False     False    False  ...       False             False  False
2    False     False    False  ...       False             False  False
3    False     False    False  ...       False             False  False
4    False     False    False  ...       False             False  False
5    False     False    False  ...       False             False  False
6    False     False    False  ...       False             False  False
7    False     False    False  ...       False             False  False
8    False     False    False  ...       False             False  False
9    False     False    False  ...       False             False  False
10   False     False    False  ...       False             False  False
11   False     False    False  ...       False             False  False
12   False     False    False  ...       False             False  False
13   False     False    False  ...       False             False  False
14   False     False    False  ...       False             False  False
15   False     False    False  ...       False             False  False
16   False     False    False  ...       False             False  False
17   False     False    False  ...       False             False  False
18   False     False    False  ...       False             False  False
19   False     False    False  ...       False             False  False
20   False     False    False  ...       False             False  False
21   False     False    False  ...       False             False  False
22   False     False    False  ...       False             False  False
23   False     False    False  ...       False             False  False
24   False     False    False  ...       False             False  False
25   False     False    False  ...       False             False  False
26   False     False    False  ...       False             False  False
27   False     False    False  ...       False             False  False
28   False     False    False  ...       False             False  False
29   False     False    False  ...       False             False  False
..     ...       ...      ...  ...         ...               ...    ...
970  False     False    False  ...       False             False  False
971  False     False    False  ...       False             False  False
972  False     False    False  ...       False             False  False
973  False     False    False  ...       False             False  False
974  False     False    False  ...       False             False  False
975  False     False    False  ...       False             False  False
976  False     False    False  ...       False             False  False
977  False     False    False  ...       False             False  False
978  False     False    False  ...       False             False  False
979  False     False    False  ...       False             False  False
980  False     False    False  ...       False             False  False
981  False     False    False  ...       False             False  False
982  False     False    False  ...       False             False  False
983  False     False    False  ...       False             False  False
984  False     False    False  ...       False             False  False
985  False     False    False  ...       False             False  False
986  False     False    False  ...       False             False  False
987  False     False    False  ...       False             False  False
988  False     False    False  ...       False             False  False
989  False     False    False  ...       False             False  False
990  False     False    False  ...       False             False  False
991  False     False    False  ...       False             False  False
992  False     False    False  ...       False             False  False
993  False     False    False  ...       False             False  False
994  False     False    False  ...       False             False  False
995  False     False    False  ...       False             False  False
996  False     False    False  ...       False             False  False
997  False     False    False  ...       False             False  False
998  False     False    False  ...       False             False  False
999  False     False    False  ...       False             False  False

[1000 rows x 29 columns]

In [0]:
df3.isnull().sum()

OBS                  0
DURATION             2
NEW_CAR              0
USED_CAR             0
FURNITURE            0
RADIO_TV             0
EDUCATION            0
RETRAINING           0
AMOUNT              10
INSTALL_RATE         7
CO_APPLICANT         0
GUARANTOR            0
REAL_ESTATE          0
PROP_UNKN_NONE       0
AGE                 10
OTHER_INSTALL        0
RENT                 0
OWN_RES              0
NUM_CREDITS          6
NUM_DEPENDENTS       7
TELEPHONE            0
FOREIGN              0
RESPONSE             0
CHK_ACCT             0
HISTORY              0
SAV_ACCT             0
EMPLOYMENT           0
PRESENT_RESIDENT     0
JOB                  0
dtype: int64

In [0]:
def na_column_names(dataset,per = 0):
    """function to identify columns with na values
    """
    na_cols = dataset.isnull().sum()[dataset.isnull().sum()>per]
    return(list(na_cols.index))

In [0]:
na_column_names(df3)

['DURATION', 'AMOUNT', 'INSTALL_RATE', 'AGE', 'NUM_CREDITS', 'NUM_DEPENDENTS']

#### Dropping the records with missing values

In [0]:
temp = df3.dropna()

In [0]:
# Looking at the dimension
temp.shape

(986, 29)

In [0]:
df3.dropna(thresh=25,axis=0).shape #Keep only the rows with at least 25 non-na values

(996, 29)

#### Imputing Numeric Columns

In [0]:
from sklearn.preprocessing import Imputer

In [0]:
imp_num = Imputer(missing_values='NaN', strategy='median', axis=0) #Create an imputer object

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [0]:
df_num_nans_imputed = pd.DataFrame(imp_num.fit_transform(df3[num_attr]), columns=num_attr) #fit and transform

In [0]:
df_num_nans_imputed.isnull().sum()

DURATION          0
AMOUNT            0
INSTALL_RATE      0
AGE               0
NUM_CREDITS       0
NUM_DEPENDENTS    0
dtype: int64

#### Imputing Categorical columns with mode

In [0]:
df3[cat_attr].dtypes

OBS                 object
NEW_CAR             object
USED_CAR            object
FURNITURE           object
RADIO_TV            object
EDUCATION           object
RETRAINING          object
CO_APPLICANT        object
GUARANTOR           object
REAL_ESTATE         object
PROP_UNKN_NONE      object
OTHER_INSTALL       object
RENT                object
OWN_RES             object
TELEPHONE           object
FOREIGN             object
RESPONSE            object
CHK_ACCT            object
HISTORY             object
SAV_ACCT            object
EMPLOYMENT          object
PRESENT_RESIDENT    object
JOB                 object
dtype: object


when we convered the columns in to string type, nan will be treated as a string, we will replace the string with pythons inbuilt null type

In [0]:
df3[cat_attr] = df3[cat_attr].replace('nan',np.NaN)

In [0]:
df_cat_nans_imputed = df3[cat_attr].apply(lambda x:x.fillna(x.value_counts().index[0]))

In [0]:
df_imputed = pd.concat([df_num_nans_imputed,df_cat_nans_imputed],axis=1)

In [0]:
df_imputed.columns

Index(['DURATION', 'AMOUNT', 'INSTALL_RATE', 'AGE', 'NUM_CREDITS',
       'NUM_DEPENDENTS', 'OBS', 'NEW_CAR', 'USED_CAR', 'FURNITURE', 'RADIO_TV',
       'EDUCATION', 'RETRAINING', 'CO_APPLICANT', 'GUARANTOR', 'REAL_ESTATE',
       'PROP_UNKN_NONE', 'OTHER_INSTALL', 'RENT', 'OWN_RES', 'TELEPHONE',
       'FOREIGN', 'RESPONSE', 'CHK_ACCT', 'HISTORY', 'SAV_ACCT', 'EMPLOYMENT',
       'PRESENT_RESIDENT', 'JOB'],
      dtype='object')

In [0]:
df_imputed.shape

(1000, 29)

In [0]:
df3.shape

(1000, 29)

### Binning

In [0]:
bin_cutoffs =[i for i in range(0,np.max(df_imputed.AMOUNT.astype("int64")),2000)]

In [0]:
bin_cutoffs,len(bin_cutoffs)

([0, 2000, 4000, 6000, 8000, 10000, 12000, 14000, 16000, 18000], 10)

#### `digitize` method
returns an array showing the bin number to which each value belongs to

In [0]:
bin_numbers = np.digitize(df_imputed.AMOUNT.astype("int64"),bins=bin_cutoffs)

In [0]:
for i in zip(df_imputed.AMOUNT,bin_numbers):
    print(i)

(1169.0, 1)
(5951.0, 3)
(2096.0, 2)
(7882.0, 4)
(4870.0, 3)
(9055.0, 5)
(2835.0, 2)
(6948.0, 4)
(3059.0, 2)
(5234.0, 3)
(1295.0, 1)
(4308.0, 3)
(1567.0, 1)
(2321.5, 2)
(1403.0, 1)
(1282.0, 1)
(2424.0, 2)
(8072.0, 5)
(12579.0, 7)
(3430.0, 2)
(2321.5, 2)
(2647.0, 2)
(2241.0, 2)
(1804.0, 1)
(2069.0, 2)
(1374.0, 1)
(2321.5, 2)
(409.0, 1)
(2415.0, 2)
(6836.0, 4)
(1913.0, 1)
(4020.0, 3)
(5866.0, 3)
(1264.0, 1)
(1474.0, 1)
(4746.0, 3)
(6110.0, 4)
(2100.0, 2)
(1225.0, 1)
(458.0, 1)
(2333.0, 2)
(1158.0, 1)
(6204.0, 4)
(6187.0, 4)
(6143.0, 4)
(1393.0, 1)
(2299.0, 2)
(2321.5, 2)
(7228.0, 4)
(2073.0, 2)
(2333.0, 2)
(5965.0, 3)
(1262.0, 1)
(3378.0, 2)
(2225.0, 2)
(783.0, 1)
(6468.0, 4)
(9566.0, 5)
(1961.0, 1)
(6229.0, 4)
(1391.0, 1)
(1537.0, 1)
(1953.0, 1)
(14421.0, 8)
(3181.0, 2)
(5190.0, 3)
(2171.0, 2)
(1007.0, 1)
(1819.0, 1)
(2394.0, 2)
(8133.0, 5)
(730.0, 1)
(1164.0, 1)
(5954.0, 3)
(1977.0, 1)
(1526.0, 1)
(3965.0, 2)
(4771.0, 3)
(9436.0, 5)
(3832.0, 2)
(5943.0, 3)
(1213.0, 1)
(1568.0, 1)
(1755.0, 1)
(2315.0, 2)
(1412.0, 1)
(1295.0, 1)
(12612.0, 7)
(2249.0, 2)
(1108.0, 1)
(618.0, 1)
(1409.0, 1)
(797.0, 1)
(3617.0, 2)
(1318.0, 1)
(15945.0, 8)
(2012.0, 2)
(2622.0, 2)
(2337.0, 2)
(7057.0, 4)
(1469.0, 1)
(2323.0, 2)
(932.0, 1)
(1919.0, 1)
(2445.0, 2)
(11938.0, 6)
(6458.0, 4)
(6078.0, 4)
(7721.0, 4)
(1410.0, 1)
(1449.0, 1)
(392.0, 1)
(6260.0, 4)
(7855.0, 4)
(1680.0, 1)
(3578.0, 2)
(7174.0, 4)
(2132.0, 2)
(4281.0, 3)
(2366.0, 2)
(1835.0, 1)
(3868.0, 2)
(1768.0, 1)
(781.0, 1)
(1924.0, 1)
(2121.0, 2)
(701.0, 1)
(639.0, 1)
(1860.0, 1)
(3499.0, 2)
(8487.0, 5)
(6887.0, 4)
(2708.0, 2)
(1984.0, 1)
(10144.0, 6)
(1240.0, 1)
(8613.0, 5)
(766.0, 1)
(2728.0, 2)
(1881.0, 1)
(709.0, 1)
(4795.0, 3)
(3416.0, 2)
(2462.0, 2)
(2288.0, 2)
(3566.0, 2)
(860.0, 1)
(682.0, 1)
(5371.0, 3)
(1582.0, 1)
(1346.0, 1)
(1924.0, 1)
(5848.0, 3)
(7758.0, 4)
(6967.0, 4)
(1282.0, 1)
(1288.0, 1)
(339.0, 1)
(3512.0, 2)
(1898.0, 1)
(2872.0, 2)
(1055.0, 1)
(1262.0, 1)
(7308.0, 4)
(909.0, 1)
(2978.0, 2)
(1131.0, 1)
(1577.0, 1)
(3972.0, 2)
(1935.0, 1)
(950.0, 1)
(763.0, 1)
(2064.0, 2)
(1414.0, 1)
(3414.0, 2)
(7485.0, 4)
(2577.0, 2)
(338.0, 1)
(1963.0, 1)
(571.0, 1)
(9572.0, 5)
(4455.0, 3)
(1647.0, 1)
(3777.0, 2)
(884.0, 1)
(1360.0, 1)
(5129.0, 3)
(1175.0, 1)
(674.0, 1)
(3244.0, 2)
(4591.0, 3)
(3844.0, 2)
(3915.0, 2)
(2108.0, 2)
(3031.0, 2)
(1501.0, 1)
(1382.0, 1)
(951.0, 1)
(2760.0, 2)
(4297.0, 3)
(936.0, 1)
(1168.0, 1)
(5117.0, 3)
(902.0, 1)
(1495.0, 1)
(10623.0, 6)
(1935.0, 1)
(1424.0, 1)
(6568.0, 4)
(1413.0, 1)
(3074.0, 2)
(3835.0, 2)
(5293.0, 3)
(1908.0, 1)
(2321.5, 2)
(932.0, 1)
(3104.0, 2)
(3913.0, 2)
(3021.0, 2)
(1364.0, 1)
(625.0, 1)
(1200.0, 1)
(707.0, 1)
(2978.0, 2)
(4657.0, 3)
(2613.0, 2)
(10961.0, 6)
(7865.0, 4)
(1478.0, 1)
(3149.0, 2)
(4210.0, 3)
(2507.0, 2)
(2141.0, 2)
(866.0, 1)
(1544.0, 1)
(1823.0, 1)
(14555.0, 8)
(2767.0, 2)
(1291.0, 1)
(2522.0, 2)
(915.0, 1)
(1595.0, 1)
(4605.0, 3)
(1185.0, 1)
(3447.0, 2)
(1258.0, 1)
(717.0, 1)
(1204.0, 1)
(1925.0, 1)
(433.0, 1)
(666.0, 1)
(2251.0, 2)
(2150.0, 2)
(4151.0, 3)
(2030.0, 2)
(7418.0, 4)
(2684.0, 2)
(2149.0, 2)
(3812.0, 2)
(1154.0, 1)
(1657.0, 1)
(1603.0, 1)
(5302.0, 3)
(2748.0, 2)
(1231.0, 1)
(802.0, 1)
(2321.5, 2)
(1533.0, 1)
(8978.0, 5)
(999.0, 1)
(2662.0, 2)
(1402.0, 1)
(12169.0, 7)
(3060.0, 2)
(11998.0, 6)
(2697.0, 2)
(2404.0, 2)
(1262.0, 1)
(4611.0, 3)
(1901.0, 1)
(3368.0, 2)
(1574.0, 1)
(1445.0, 1)
(1520.0, 1)
(3878.0, 2)
(10722.0, 6)
(4788.0, 3)
(7582.0, 4)
(1092.0, 1)
(1024.0, 1)
(1076.0, 1)
(9398.0, 5)
(6419.0, 4)
(4796.0, 3)
(7629.0, 4)
(9960.0, 5)
(4675.0, 3)
(1287.0, 1)
(2515.0, 2)
(2745.0, 2)
(672.0, 1)
(3804.0, 2)
(1344.0, 1)
(1038.0, 1)
(10127.0, 6)
(1543.0, 1)
(4811.0, 3)
(727.0, 1)
(1237.0, 1)
(276.0, 1)
(5381.0, 3)
(5511.0, 3)
(3749.0, 2)
(685.0, 1)
(1494.0, 1)
(2746.0, 2)
(708.0, 1)
(4351.0, 3)
(701.0, 1)
(3643.0, 2)
(4249.0, 3)
(1938.0, 1)
(2910.0, 2)
(2659.0, 2)
(1028.0, 1)
(3398.0, 2)
(5801.0, 3)
(1525.0, 1)
(4473.0, 3)
(1068.0, 1)
(6615.0, 4)
(1864.0, 1)
(7408.0, 4)
(11590.0, 6)
(4110.0, 3)
(3384.0, 2)
(2101.0, 2)
(1275.0, 1)
(4169.0, 3)
(1521.0, 1)
(5743.0, 3)
(3599.0, 2)
(3213.0, 2)
(4439.0, 3)
(3949.0, 2)
(1459.0, 1)
(882.0, 1)
(3758.0, 2)
(1743.0, 1)
(1136.0, 1)
(1236.0, 1)
(959.0, 1)
(3229.0, 2)
(6199.0, 4)
(727.0, 1)
(1246.0, 1)
(2331.0, 2)
(4463.0, 3)
(776.0, 1)
(2406.0, 2)
(1239.0, 1)
(3399.0, 2)
(2247.0, 2)
(1766.0, 1)
(2473.0, 2)
(1542.0, 1)
(3850.0, 2)
(3650.0, 2)
(3446.0, 2)
(3001.0, 2)
(3079.0, 2)
(6070.0, 4)
(2146.0, 2)
(13756.0, 7)
(14782.0, 8)
(7685.0, 4)
(2320.0, 2)
(846.0, 1)
(14318.0, 8)
(362.0, 1)
(2212.0, 2)
(12976.0, 7)
(1283.0, 1)
(1330.0, 1)
(4272.0, 3)
(2238.0, 2)
(1126.0, 1)
(7374.0, 4)
(2326.0, 2)
(1449.0, 1)
(1820.0, 1)
(983.0, 1)
(3249.0, 2)
(1957.0, 1)
(2406.0, 2)
(11760.0, 6)
(2578.0, 2)
(2348.0, 2)
(1223.0, 1)
(1516.0, 1)
(1473.0, 1)
(1887.0, 1)
(8648.0, 5)
(802.0, 1)
(2899.0, 2)
(2039.0, 2)
(2197.0, 2)
(1053.0, 1)
(3235.0, 2)
(939.0, 1)
(1967.0, 1)
(7253.0, 4)
(2292.0, 2)
(1597.0, 1)
(1381.0, 1)
(5842.0, 3)
(2579.0, 2)
(8471.0, 5)
(2782.0, 2)
(1042.0, 1)
(3186.0, 2)
(2028.0, 2)
(958.0, 1)
(1591.0, 1)
(2762.0, 2)
(2779.0, 2)
(2743.0, 2)
(1149.0, 1)
(1313.0, 1)
(1190.0, 1)
(3448.0, 2)
(11328.0, 6)
(1872.0, 1)
(2058.0, 2)
(2136.0, 2)
(1484.0, 1)
(660.0, 1)
(1287.0, 1)
(3394.0, 2)
(609.0, 1)
(1884.0, 1)
(1620.0, 1)
(2629.0, 2)
(719.0, 1)
(5096.0, 3)
(1244.0, 1)
(1842.0, 1)
(2576.0, 2)
(1424.0, 1)
(1512.0, 1)
(11054.0, 6)
(518.0, 1)
(2759.0, 2)
(2670.0, 2)
(4817.0, 3)
(2679.0, 2)
(3905.0, 2)
(3386.0, 2)
(343.0, 1)
(4594.0, 3)
(3620.0, 2)
(1721.0, 1)
(3017.0, 2)
(754.0, 1)
(1950.0, 1)
(2924.0, 2)
(1659.0, 1)
(7238.0, 4)
(2764.0, 2)
(4679.0, 3)
(3092.0, 2)
(448.0, 1)
(654.0, 1)
(1238.0, 1)
(1245.0, 1)
(3114.0, 2)
(2569.0, 2)
(5152.0, 3)
(1037.0, 1)
(1478.0, 1)
(3573.0, 2)
(1201.0, 1)
(3622.0, 2)
(960.0, 1)
(1163.0, 1)
(1209.0, 1)
(3077.0, 2)
(3757.0, 2)
(1418.0, 1)
(3518.0, 2)
(1934.0, 1)
(8318.0, 5)
(1237.0, 1)
(368.0, 1)
(2122.0, 2)
(2996.0, 2)
(9034.0, 5)
(1585.0, 1)
(1301.0, 1)
(1323.0, 1)
(3123.0, 2)
(5493.0, 3)
(1126.0, 1)
(1216.0, 1)
(1207.0, 1)
(1309.0, 1)
(2360.0, 2)
(6850.0, 4)
(1413.0, 1)
(8588.0, 5)
(759.0, 1)
(4686.0, 3)
(2687.0, 2)
(585.0, 1)
(2255.0, 2)
(609.0, 1)
(1361.0, 1)
(7127.0, 4)
(1203.0, 1)
(700.0, 1)
(5507.0, 3)
(3190.0, 2)
(7119.0, 4)
(3488.0, 2)
(1113.0, 1)
(7966.0, 4)
(1532.0, 1)
(1503.0, 1)
(2302.0, 2)
(662.0, 1)
(2273.0, 2)
(2631.0, 2)
(1503.0, 1)
(1311.0, 1)
(3105.0, 2)
(2319.0, 2)
(1374.0, 1)
(3612.0, 2)
(7763.0, 4)
(3049.0, 2)
(1534.0, 1)
(2032.0, 2)
(6350.0, 4)
(2864.0, 2)
(1255.0, 1)
(1333.0, 1)
(2022.0, 2)
(1552.0, 1)
(626.0, 1)
(8858.0, 5)
(996.0, 1)
(1750.0, 1)
(6999.0, 4)
(1995.0, 1)
(1199.0, 1)
(1331.0, 1)
(2278.0, 2)
(5003.0, 3)
(3552.0, 2)
(1928.0, 1)
(2964.0, 2)
(1546.0, 1)
(683.0, 1)
(12389.0, 7)
(4712.0, 3)
(1553.0, 1)
(1372.0, 1)
(2578.0, 2)
(3979.0, 2)
(6758.0, 4)
(3234.0, 2)
(5954.0, 3)
(5433.0, 3)
(806.0, 1)
(1082.0, 1)
(2788.0, 2)
(2930.0, 2)
(1927.0, 1)
(2820.0, 2)
(937.0, 1)
(1056.0, 1)
(3124.0, 2)
(1388.0, 1)
(2384.0, 2)
(2133.0, 2)
(2039.0, 2)
(2799.0, 2)
(1289.0, 1)
(1217.0, 1)
(2246.0, 2)
(385.0, 1)
(1965.0, 1)
(1572.0, 1)
(2718.0, 2)
(1358.0, 1)
(931.0, 1)
(1442.0, 1)
(4241.0, 3)
(2775.0, 2)
(3863.0, 2)
(2329.0, 2)
(918.0, 1)
(1837.0, 1)
(3349.0, 2)
(1275.0, 1)
(2828.0, 2)
(4526.0, 3)
(2671.0, 2)
(2051.0, 2)
(1300.0, 1)
(741.0, 1)
(1240.0, 1)
(3357.0, 2)
(3632.0, 2)
(1808.0, 1)
(12204.0, 7)
(9157.0, 5)
(3676.0, 2)
(3441.0, 2)
(640.0, 1)
(3652.0, 2)
(1530.0, 1)
(3914.0, 2)
(1858.0, 1)
(2600.0, 2)
(1979.0, 1)
(2116.0, 2)
(1437.0, 1)
(4042.0, 3)
(3832.0, 2)
(3660.0, 2)
(1553.0, 1)
(1444.0, 1)
(1980.0, 1)
(1355.0, 1)
(1393.0, 1)
(1376.0, 1)
(15653.0, 8)
(1493.0, 1)
(4370.0, 3)
(750.0, 1)
(1308.0, 1)
(4623.0, 3)
(1851.0, 1)
(1880.0, 1)
(7980.0, 4)
(4583.0, 3)
(1386.0, 1)
(947.0, 1)
(684.0, 1)
(7476.0, 4)
(1922.0, 1)
(2303.0, 2)
(8086.0, 5)
(2346.0, 2)
(3973.0, 2)
(888.0, 1)
(10222.0, 6)
(4221.0, 3)
(6361.0, 4)
(1297.0, 1)
(900.0, 1)
(2241.0, 2)
(1050.0, 1)
(1047.0, 1)
(6314.0, 4)
(3496.0, 2)
(3609.0, 2)
(4843.0, 3)
(3017.0, 2)
(4139.0, 3)
(5742.0, 3)
(10366.0, 6)
(2080.0, 2)
(2580.0, 2)
(4530.0, 3)
(5150.0, 3)
(5595.0, 3)
(2384.0, 2)
(1453.0, 1)
(1538.0, 1)
(2279.0, 2)
(1478.0, 1)
(5103.0, 3)
(9857.0, 5)
(6527.0, 4)
(1347.0, 1)
(2862.0, 2)
(2753.0, 2)
(3651.0, 2)
(975.0, 1)
(2631.0, 2)
(2896.0, 2)
(4716.0, 3)
(2284.0, 2)
(1236.0, 1)
(1103.0, 1)
(926.0, 1)
(1800.0, 1)
(1905.0, 1)
(1123.0, 1)
(6331.0, 4)
(1377.0, 1)
(2503.0, 2)
(2528.0, 2)
(5324.0, 3)
(6560.0, 4)
(2969.0, 2)
(1206.0, 1)
(2118.0, 2)
(629.0, 1)
(1198.0, 1)
(2476.0, 2)
(1138.0, 1)
(14027.0, 8)
(7596.0, 4)
(3077.0, 2)
(1505.0, 1)
(3148.0, 2)
(6148.0, 4)
(1337.0, 1)
(433.0, 1)
(1228.0, 1)
(790.0, 1)
(2570.0, 2)
(250.0, 1)
(1316.0, 1)
(1882.0, 1)
(6416.0, 4)
(1275.0, 1)
(6403.0, 4)
(1987.0, 1)
(760.0, 1)
(2603.0, 2)
(3380.0, 2)
(3990.0, 2)
(11560.0, 6)
(4380.0, 3)
(6761.0, 4)
(4280.0, 3)
(2325.0, 2)
(1048.0, 1)
(3160.0, 2)
(2483.0, 2)
(14179.0, 8)
(1797.0, 1)
(2511.0, 2)
(1274.0, 1)
(5248.0, 3)
(3029.0, 2)
(428.0, 1)
(976.0, 1)
(841.0, 1)
(5771.0, 3)
(1555.0, 1)
(1285.0, 1)
(1299.0, 1)
(1271.0, 1)
(1393.0, 1)
(691.0, 1)
(5045.0, 3)
(2124.0, 2)
(2214.0, 2)
(12680.0, 7)
(2463.0, 2)
(1155.0, 1)
(3108.0, 2)
(2901.0, 2)
(3617.0, 2)
(1655.0, 1)
(2812.0, 2)
(8065.0, 5)
(3275.0, 2)
(2223.0, 2)
(1480.0, 1)
(1371.0, 1)
(3535.0, 2)
(3509.0, 2)
(5711.0, 3)
(3872.0, 2)
(4933.0, 3)
(1940.0, 1)
(1410.0, 1)
(836.0, 1)
(6468.0, 4)
(1941.0, 1)
(2675.0, 2)
(2751.0, 2)
(6224.0, 4)
(5998.0, 3)
(1188.0, 1)
(6313.0, 4)
(1221.0, 1)
(2892.0, 2)
(3062.0, 2)
(2301.0, 2)
(7511.0, 4)
(1258.0, 1)
(717.0, 1)
(1549.0, 1)
(1597.0, 1)
(1795.0, 1)
(4272.0, 3)
(976.0, 1)
(7472.0, 4)
(9271.0, 5)
(590.0, 1)
(930.0, 1)
(9283.0, 5)
(1778.0, 1)
(907.0, 1)
(484.0, 1)
(9629.0, 5)
(3051.0, 2)
(3931.0, 2)
(7432.0, 4)
(1338.0, 1)
(1554.0, 1)
(15857.0, 8)
(1345.0, 1)
(1101.0, 1)
(3016.0, 2)
(2712.0, 2)
(731.0, 1)
(3780.0, 2)
(1602.0, 1)
(3966.0, 2)
(4165.0, 3)
(8335.0, 5)
(6681.0, 4)
(2375.0, 2)
(1216.0, 1)
(11816.0, 6)
(5084.0, 3)
(2327.0, 2)
(1082.0, 1)
(886.0, 1)
(601.0, 1)
(2957.0, 2)
(2611.0, 2)
(5179.0, 3)
(2993.0, 2)
(1943.0, 1)
(1559.0, 1)
(3422.0, 2)
(3976.0, 2)
(6761.0, 4)
(1249.0, 1)
(1364.0, 1)
(709.0, 1)
(2235.0, 2)
(4042.0, 3)
(1471.0, 1)
(1442.0, 1)
(10875.0, 6)
(1474.0, 1)
(894.0, 1)
(3343.0, 2)
(3959.0, 2)
(3577.0, 2)
(5804.0, 3)
(2169.0, 2)
(2439.0, 2)
(4526.0, 3)
(2210.0, 2)
(2221.0, 2)
(2389.0, 2)
(3331.0, 2)
(7409.0, 4)
(652.0, 1)
(7678.0, 4)
(1343.0, 1)
(1382.0, 1)
(874.0, 1)
(3590.0, 2)
(1322.0, 1)
(1940.0, 1)
(3595.0, 2)
(1422.0, 1)
(6742.0, 4)
(7814.0, 4)
(9277.0, 5)
(2181.0, 2)
(1098.0, 1)
(4057.0, 3)
(795.0, 1)
(2825.0, 2)
(15672.0, 8)
(6614.0, 4)
(7824.0, 4)
(2442.0, 2)
(1829.0, 1)
(2171.0, 2)
(5800.0, 3)
(1169.0, 1)
(8947.0, 5)
(2606.0, 2)
(1592.0, 1)
(2186.0, 2)
(4153.0, 3)
(2625.0, 2)
(3485.0, 2)
(10477.0, 6)
(1386.0, 1)
(1278.0, 1)
(1107.0, 1)
(3763.0, 2)
(3711.0, 2)
(3594.0, 2)
(3195.0, 2)
(4454.0, 3)
(4736.0, 3)
(2991.0, 2)
(2142.0, 2)
(3161.0, 2)
(18424.0, 10)
(2848.0, 2)
(14896.0, 8)
(2359.0, 2)
(3345.0, 2)
(1817.0, 1)
(12749.0, 7)
(2321.5, 2)
(2002.0, 2)
(6872.0, 4)
(697.0, 1)
(1049.0, 1)
(10297.0, 6)
(1867.0, 1)
(1344.0, 1)
(1747.0, 1)
(1670.0, 1)
(1224.0, 1)
(522.0, 1)
(1498.0, 1)
(1919.0, 1)
(745.0, 1)
(2063.0, 2)
(6288.0, 4)
(6842.0, 4)
(3527.0, 2)
(1546.0, 1)
(929.0, 1)
(1455.0, 1)
(1845.0, 1)
(8358.0, 5)
(3349.0, 2)
(2859.0, 2)
(1533.0, 1)
(3621.0, 2)
(3590.0, 2)
(2145.0, 2)
(4113.0, 3)
(10974.0, 6)
(1893.0, 1)
(1231.0, 1)
(3656.0, 2)
(1154.0, 1)
(4006.0, 3)
(3069.0, 2)
(1740.0, 1)
(2353.0, 2)
(3556.0, 2)
(2397.0, 2)
(454.0, 1)
(1715.0, 1)
(2520.0, 2)
(3568.0, 2)
(7166.0, 4)
(3939.0, 2)
(1514.0, 1)
(7393.0, 4)
(1193.0, 1)
(7297.0, 4)
(2831.0, 2)
(1258.0, 1)
(753.0, 1)
(2427.0, 2)
(2538.0, 2)
(1264.0, 1)
(2321.5, 2)
(4844.0, 3)
(2923.0, 2)
(8229.0, 5)
(2028.0, 2)
(1433.0, 1)
(6289.0, 4)
(1409.0, 1)
(6579.0, 4)
(1743.0, 1)
(3565.0, 2)
(1569.0, 1)
(1936.0, 1)
(3959.0, 2)
(2390.0, 2)
(2321.5, 2)
(3857.0, 2)
(804.0, 1)
(1845.0, 1)
(2321.5, 2)

In [0]:
pd.Series(bin_numbers).value_counts()

1     427
2     330
3      96
4      78
5      29
6      19
8      11
7       9
10      1
dtype: int64

In the real world situations , we may not always have domain knowledge. In such cases we can divide the continuous variable into a fixed number of bins, each bin having approximately same number of values

#### `qcut` method

In [0]:
pd.qcut(df_imputed.AMOUNT,4).value_counts()

(1374.0, 2321.5]     254
(249.999, 1374.0]    251
(3960.5, 18424.0]    250
(2321.5, 3960.5]     245
Name: AMOUNT, dtype: int64

### Additional Pre-processing methods

#### Dummies
Creating dummy variables and adding to original table

In [0]:
Job_dummies = pd.get_dummies(df3.JOB,prefix="JOB").head()

In [0]:
pd.concat([df_imputed,Job_dummies],axis=1).head()

   DURATION  AMOUNT  INSTALL_RATE   AGE  ...  JOB_0  JOB_1 JOB_2 JOB_3
0       6.0  1169.0           4.0  67.0  ...    0.0    0.0   1.0   0.0
1      48.0  5951.0           2.0  22.0  ...    0.0    0.0   1.0   0.0
2      12.0  2096.0           2.0  49.0  ...    0.0    1.0   0.0   0.0
3      42.0  7882.0           2.0  45.0  ...    0.0    0.0   1.0   0.0
4      24.0  4870.0           3.0  53.0  ...    0.0    0.0   1.0   0.0

[5 rows x 33 columns]

#### Normalization

In [0]:
from sklearn.preprocessing import MinMaxScaler

In [0]:
minmaxscaler = MinMaxScaler()

Scaling the arrtibutes to 0 - 1 scale

In [0]:
minmaxscaler.fit(df_imputed[num_attr])

MinMaxScaler(copy=True, feature_range=(0, 1))

In [0]:
minmaxscaler.data_min_

array([  4., 250.,   1.,  19.,   1.,   1.])

In [0]:
minmaxscaler.data_max_

array([7.2000e+01, 1.8424e+04, 4.0000e+00, 7.5000e+01, 4.0000e+00,
       2.0000e+00])

In [0]:
df_min_max_scaled = minmaxscaler.transform(df_imputed[num_attr])

In [0]:
df_min_max_scaled = pd.DataFrame(df_min_max_scaled,columns=num_attr)

In [0]:
df_min_max_scaled.head()

   DURATION    AMOUNT  INSTALL_RATE       AGE  NUM_CREDITS  NUM_DEPENDENTS
0  0.029412  0.050567      1.000000  0.857143     0.333333             0.0
1  0.647059  0.313690      0.333333  0.053571     0.000000             0.0
2  0.117647  0.101574      0.333333  0.535714     0.000000             1.0
3  0.558824  0.419941      0.333333  0.464286     0.000000             1.0
4  0.294118  0.254209      0.666667  0.607143     0.333333             1.0

In [0]:
df_min_max_scaled[num_attr].describe()

          DURATION       AMOUNT  ...  NUM_CREDITS  NUM_DEPENDENTS
count  1000.000000  1000.000000  ...  1000.000000     1000.000000
mean      0.248706     0.165822  ...     0.134667        0.155000
std       0.177254     0.154814  ...     0.191809        0.362086
min       0.000000     0.000000  ...     0.000000        0.000000
25%       0.117647     0.061847  ...     0.000000        0.000000
50%       0.205882     0.113982  ...     0.000000        0.000000
75%       0.294118     0.204165  ...     0.333333        0.000000
max       1.000000     1.000000  ...     1.000000        1.000000

[8 rows x 6 columns]

#### Standardizing

In [0]:
from sklearn.preprocessing import  StandardScaler

In [0]:
scaler = StandardScaler(with_mean=True, with_std=True).fit(df_imputed[num_attr])

In [0]:
scaler

StandardScaler(copy=True, with_mean=True, with_std=True)

In [0]:
scaler.mean_

array([2.091200e+01, 3.263652e+03, 2.973000e+00, 3.548000e+01,
       1.404000e+00, 1.155000e+00])

In [0]:
df_scaled = pd.DataFrame(scaler.transform(df_imputed[num_attr]),columns=num_attr)

In [0]:
df_scaled.head()

   DURATION    AMOUNT  INSTALL_RATE       AGE  NUM_CREDITS  NUM_DEPENDENTS
0 -1.237793 -0.744847      0.921430  2.793611     1.036273       -0.428290
1  2.248480  0.955606     -0.872981 -1.194729    -0.702440       -0.428290
2 -0.739754 -0.415211     -0.872981  1.198275    -0.702440        2.334869
3  1.750441  1.642260     -0.872981  0.843755    -0.702440        2.334869
4  0.256324  0.571209      0.024225  1.552794     1.036273        2.334869

In [0]:
df_scaled.describe()

           DURATION        AMOUNT  ...   NUM_CREDITS  NUM_DEPENDENTS
count  1.000000e+03  1.000000e+03  ...  1.000000e+03    1.000000e+03
mean   2.127187e-16 -6.739054e-17  ...  8.104628e-17   -2.887690e-16
std    1.000500e+00  1.000500e+00  ...  1.000500e+00    1.000500e+00
min   -1.403806e+00 -1.071638e+00  ... -7.024398e-01   -4.282896e-01
25%   -7.397538e-01 -6.719501e-01  ... -7.024398e-01   -4.282896e-01
50%   -2.417149e-01 -3.350242e-01  ... -7.024398e-01   -4.282896e-01
75%    2.563240e-01  2.477954e-01  ...  1.036273e+00   -4.282896e-01
max    4.240635e+00  5.390938e+00  ...  4.513697e+00    2.334869e+00

[8 rows x 6 columns]

## Apply functions

> `apply` functions allow us to perform a specific action on a single row, single column , set of rows, set of columns in the dataset

Find the min, max, standard  deviation of the numeric columns

In [0]:
df_imputed[num_attr].apply([np.min,np.max,np.std])

       DURATION        AMOUNT  ...  NUM_CREDITS  NUM_DEPENDENTS
amin   4.000000    250.000000  ...     1.000000        1.000000
amax  72.000000  18424.000000  ...     4.000000        2.000000
std   12.053279   2813.598296  ...     0.575426        0.362086

[3 rows x 6 columns]

Find the 

- min
- max
- mean
- median

for the columns AGE and AMOUNT

where the applicants purpose of credit is a new car

In [0]:
df3[['AMOUNT','AGE']][df3.NEW_CAR=='1.0'].apply([np.mean,np.median])

             AMOUNT        AGE
mean    3075.064655  36.943966
median  1980.000000  35.000000

compare it with the values when the aapplicants purpose of credit is a used car

In [0]:
df3[['AMOUNT','AGE']][df3.USED_CAR=='1.0'].apply([np.mean,np.median])

             AMOUNT       AGE
mean    5417.871287  37.49505
median  4796.000000  35.00000

## Assignment Questions
use `df_imputed` for answering these questions

- How many customers applied for a credit for EDUCATION?

In [0]:
np.sum(df_imputed.EDUCATION == '1.0')

50

 - How many customers applied for a credit for FURNITURE?

- How many single males applied for a credit for new car?

- How many FOREIGN workers applied for a Credit?

- What is the maximum credit given to a foreign worker?

 - What is the maximum credit given to a non foreign worker?

- How many critical accounts are there according to the 'Credit history' columnn?